@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h3>Enter your information</h3>
<br />
<form method="post" action="">
    <input type="hidden" name="PhoneId" value="@ViewBag.Id" />
    <table>
        <tbody>
            <tr>
                <td>FIO</td>
                <td><input type="text" name="FIO" /></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="Email" /></td>
            </tr>
            <tr>
                <td>Adress</td>
                <td><input type="text" name="Adress" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="To Buy" /></td>
            </tr>
        </tbody>

    </table>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload=function()
            {
                alert("@ViewBag.Message");
            }
        </script>
    }

</form>
