@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<form method="post" action="GetPhone">
    <p>Enter name of phone</p>
    <input type="text" name="title" />
    <p>Enter name of price</p>
    <input type="text" name="price" />
    <input type="submit" value="Send"/>
</form>
